@tailwind base;
@tailwind components;
@tailwind utilities;

.userTable:nth-child(odd) {
  background-color: #f4f6f8;
}

.quill-container{
  height: calc(100% - 42px);
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  font-weight: 600;
}

.post-content h3{
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: 600;
}

.post-content h4{
  font-size: 1.1rem;
  font-family: sans-serif;
  font-weight: 600;
}

.post-content a{
  color: blue;
  text-decoration: underline;
}

.post-content ul {
  list-style-type: disc; /* for unordered lists (ul) */
}

.post-content ol {
  list-style-type: decimal; /* for unordered lists (ul) */
}

::-webkit-scrollbar{
  display: none;
}


/* Navbar Styling */

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"); */

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* background-color: #fcfcfc; */
}

.container {
  /* max-width: 1100px; */
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  height: 100%;
  gap: 20px;
}

.navbar {
  height: 60px;
  background-color: #1e293b;
  color: white;
  padding: 0px 20px;
  position: sticky;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo {
  font-weight: bold;
  font-style: italic;
  font-size: x-large;
}

.menu-icon {
  display: none;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 30px;
}

.nav-elements ul a {
  font-size: 18px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #22d3ee;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #22d3ee;
}

@media (min-width: 768px){
  .container{
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}


@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    /* padding-left: 30px; */
    left: 0;
    top: 60px;
    /* background-color: #fef7e5; */
    background-color: #1e293b;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 300px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 15px;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}
